$bgcolor: rgb(82, 65, 54);
$textcolor: darkblue;
$fontsize: 16px;

body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
} 

.window {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(34, 34, 34);
}

.container {
  width: calc(100% / 2.5);
  position: relative;
  box-sizing: border-box;
  margin: 24px auto;
  padding: 24px;
  overflow: scroll;
  overflow-wrap: break-word;
  white-space: break-spaces;
  background-color: rgb(29, 0, 0);
  border: 12px solid black;
  color: rgb(190, 175, 175);
  * {
    position: relative;
    width: 100%;
    &::placeholder {
      text-align: center;
    }
  }
}

.router-link {
  padding: 24px;
  :hover {
    color: white;
  }
}

.title {
  font-weight: bold;
  font-size: 18px;
}
