.container {
    width: 350px;
    background-color: rgb(126, 53, 53);
    color: rgb(202, 134, 134);
    font-size: 48;
    overflow: scroll;
    overflow-wrap: break-word;
    white-space: break-spaces;
    padding: 24px;
}

.title {
  font-weight: bold;
}