.container {
    width: 500px;
    background-color: rgb(27, 5, 5);
    color: rgb(189, 189, 189);
    font-size: 48;
    overflow: scroll;
    overflow-wrap: break-word;
    white-space: break-spaces;
    padding: 24px;
}

.title {
  font-weight: bold;
}